@use '../node_modules/normalize.css/normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color__background;
  color: $color__text;
  font-family: $font__family;
  font-weight: $font__weight;
  margin: 0;
  text-align: $text__align;
}
