// Colors
$color__red: #ff464f;
$color__red--light: #ff575f;
$color__orange: #ff8a34;
$color__orange--light: #ff974a;
$color__yellow: #ffbc25;
$color__yellow--light: #ffc542;
$color__green: #25c685;
$color__green--light: #3dd598;
$color__green--dark: #286053;
$color__blue: #005df2;
$color__blue--light: #0062ff;
$color__purple: #6952dc;
$color__purple--light: #755fe2;
$color__white: #fff;
$color__gray: #475e69;
$color__gray--light: #96a7af;
$color__gray--dark: #30444e;
$color__clay: #203037;
$color__shadow: #19282f;

$color__theme--primary: linear-gradient(180deg, #40df9f 0%, #3ed598 100%);
$color__theme--secondary-one: linear-gradient(138.7deg, #2a3c44 25.75%, #23343c 100%);
$color__theme--secondary-two: #2a3c44;
$color__theme--secondary-three: linear-gradient(138.7deg, #22343c 25.86%, #22343c 25.87%, #1f2e35 100%);

$colors: (
  'red': $color__red,
  'red-light': $color__red--light,
  'orange': $color__orange,
  'orange-light': $color__orange--light,
  'yellow': $color__yellow,
  'yellow-light': $color__yellow--light,
  'green': $color__green,
  'green-light': $color__green--light,
  'green-dark': $color__green--dark,
  'blue': $color__blue,
  'blue-light': $color__blue--light,
  'purple': $color__purple,
  'purple-light': $color__purple--light,
  'white': $color__white,
  'gray': $color__gray,
  'gray-light': $color__gray--light,
  'gray-dark': $color__gray--dark,
  'clay': $color__clay,
  'shadow': $color__shadow,
) !default;

// Font
$font__family--sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font__family--monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;

$font__size--xs: 10px;
$font__size--sm: 12px;
$font__size--md: 14px;
$font__size--lg: 16px;
$font__size--xl: 18px;

$header-font__size: 42px;
$header-font__size--secondary: 24px;

// Breakpoints
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;

// Margins & Paddings
$margin--xs: 5px;
$margin--sm: 10px;
$margin--md: 15px;
$margin--lg: 20px;
$margin--xl: 25px;
$margin--xxl: 30px;

$padding--xs: 5px;
$padding--sm: 10px;
$padding--md: 15px;
$padding--lg: 20px;
$padding--xl: 25px;
$padding--xxl: 30px;

// Theme
$color__text: $color__white;
$color__text--secondary: $color__gray--light;
$color__text--success: $color__green;
$color__text--warning: $color__yellow;
$color__text--danger: $color__red;
$color__primary: $color__green;
$color__primary--active: $color__green--light;
$color__background: $color__clay;
$color__background--secondary: $color__gray--dark;
$color__background--success: $color__green--light;
$color__background--success-secondary: $color__green;
$color__background--warning: $color__yellow--light;
$color__background--warning-secondary: $color__yellow;
$color__background--danger: $color__red--light;
$color__background--danger-secondary: $color__red;
$color__box-shadow: $color__shadow;
$font__family: $font__family--sans-serif;
$font__weight: normal;
$font__weight--secondary: 500;
$text__align: left;
$font__size: $font__size--md;
$margin: $margin--xxl;
$padding: $padding--xl;
