.input {
  background: $color__theme--secondary-two;
  border: 0;
  border-radius: 12px;
  color: $color__text--secondary;
  font-size: 14px;
  height: 42px;
  line-height: 16px;
  margin: $margin--sm;
  padding-left: $padding--md;
}
